<div class="hero-card">
  <div class="hero-card__img">
    <img [src]="hero.image" alt="Hero Card">
  </div>
  <div class="hero-card__desc">
    <div class="desc-title">
      <h2>{{ hero.name }}</h2>
      <p class="desc-status">
        <span class="desc-status-icon" [ngClass]="{
          'alive': hero.status === heroStatus.ALIVE,
          'unknown': hero.status === heroStatus.UNKNOWN,
          'dead': hero.status === heroStatus.DEAD
        }"></span>
        {{ hero.status }} - {{ hero.species }}
      </p>
    </div>
    <p
      tooltipPosition="right"
      [pTooltip]="locationTooltip"
      class="desc-location"
      (mouseenter)="getHeroLocation(hero.location.url, hero.id)">
      <small>Last known location:</small>
      <br>
      <span class="desc-location-name">{{ hero.location.name }}</span>
    </p>
    <p class="desc-gender">
      <small>Gender:</small>
      <br>
      <span class="desc-gender-name">{{ hero.gender }}</span>
    </p>
    <p
      tooltipPosition="right"
      [pTooltip]="episodesTooltip"
      class="desc-episodes"
      (mouseenter)="getHeroEpisodes(hero.episode, hero.id)">
      Episodes
    </p>
  </div>
</div>
<ng-template #locationTooltip>
  <app-location-tooltip
    [heroLocation]="heroLocation | async"
  ></app-location-tooltip>
</ng-template>
<ng-template #episodesTooltip>
  <app-episodes-tooltip
    [episodes]="episodes | async"
  ></app-episodes-tooltip>
</ng-template>
